@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
	--white: 255,255,255;
	--black: 17,28,67;
	--red: 255,70,81;
	--green: 0,196,140;
	--light-blue: 229,239,255;
	--blue: 2,101,255;

	--primary-font: 'Roboto', sans-serif;
	--base-font-size: 13px;

	--transition: all 0.5s ease;
	--shadow: 0 2px 4px 0 rgb(136 144 195 / 20%);
	--radius: 0.25rem;
	--gap: 15px;
}

html, body { height:100%; }
body { font-family:var(--primary-font); font-size:var(--base-font-size); color:rgba(var(--black),0.85); background:#eff1f2; position:relative; }

a, a:hover, a:focus { color:rgb(var(--blue)); outline:none; text-decoration:none; transition:var(--transition); }
a:hover { color:rgb(var(--orange)); }

ol, ul { padding:0; margin:0; }
ol li, ul li { list-style:none; }

.title { font-size:1.5rem; font-weight:700; line-height:1.25; color:rgb(var(--black)); margin:0 0 1rem; }
.sub-title { font-size:1rem; color:rgba(var(--black),0.6); }

.row { margin-right:-10px; margin-left:-10px; }
.row.row-sm { margin-right:-5px; margin-left:-5px; }
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding-right:10px; padding-left:10px; }
.row.row-sm > [class*="col"], .row.row-sm > [class*="col-"] { padding-right:5px; padding-left:5px; }

.m-0 { margin:0 !important; }
.mt-0, .my-0 { margin-top:0 !important; }
.mr-0, .mx-0 { margin-right:0 !important; }
.mb-0, .my-0 {	margin-bottom:0 !important; }
.ml-0, .mx-0 { margin-left:0 !important; }
.m-1 {	margin:.25rem !important; }
.mt-1, .my-1 {	margin-top:.25rem !important; }
.mr-1, .mx-1 { margin-right:.25rem !important; }
.mb-1, .my-1 {	margin-bottom:.25rem !important; }
.ml-1, .mx-1 {	margin-left:.25rem !important; }
.m-2 { margin:.5rem !important; }
.mt-2, .my-2 { margin-top:.5rem !important; }
.mr-2, .mx-2 { margin-right:.5rem !important; }
.mb-2, .my-2 { margin-bottom:.5rem !important; }
.ml-2, .mx-2 { margin-left:.5rem !important; }
.m-3 { margin:1rem !important; }
.mt-3, .my-3 { margin-top:1rem !important; }
.mr-3, .mx-3 { margin-right:1rem !important; }
.mb-3, .my-3 { margin-bottom:1rem !important; }
.ml-3, .mx-3 { margin-left:1rem !important; }
.m-4 { margin:1.5rem !important; }
.mt-4, .my-4 { margin-top:1.5rem !important; }
.mr-4, .mx-4 { margin-right:1.5rem !important; }
.mb-4, .my-4 { margin-bottom:1.5rem !important; }
.ml-4, .mx-4 { margin-left:1.5rem !important; }
.m-5 { margin:3rem !important; }
.mt-5, .my-5 { margin-top:3rem !important; }
.mr-5, .mx-5 { margin-right:3rem !important; }
.mb-5, .my-5 { margin-bottom:3rem !important; }
.ml-5, .mx-5 { margin-left:3rem !important; }

.p-0 { padding:0 !important; }
.pt-0, .py-0 { padding-top:0 !important; }
.pr-0, .px-0 { padding-right:0 !important; }
.pb-0, .py-0 { padding-bottom:0 !important; }
.pl-0, .px-0 { padding-left:0 !important; }
.p-1 { padding:.25rem !important; }
.pt-1, .py-1 { padding-top:.25rem !important; }
.pr-1, .px-1 { padding-right:.25rem !important; }
.pb-1, .py-1 { padding-bottom:.25rem !important; }
.pl-1, .px-1 { padding-left:.25rem !important; }
.p-2 { padding:.5rem !important; }
.pt-2, .py-2 { padding-top:.5rem !important; }
.pr-2, .px-2 { padding-right:.5rem !important; }
.pb-2, .py-2 { padding-bottom:.5rem !important; }
.pl-2, .px-2 { padding-left:.5rem !important; }
.p-3 { padding:1rem !important; }
.pt-3, .py-3 { padding-top:1rem !important; }
.pr-3, .px-3 { padding-right:1rem !important; }
.pb-3, .py-3 { padding-bottom:1rem !important; }
.pl-3, .px-3 { padding-left:1rem !important; }
.p-4 { padding:1.5rem !important; }
.pt-4, .py-4 { padding-top:1.5rem !important; }
.pr-4, .px-4 { padding-right:1.5rem !important; }
.pb-4, .py-4 { padding-bottom:1.5rem !important; }
.pl-4, .px-4 { padding-left:1.5rem !important; }
.p-5 { padding:3rem !important; }
.pt-5, .py-5 { padding-top:3rem !important; }
.pr-5, .px-5 { padding-right:3rem !important; }
.pb-5, .py-5 { padding-bottom:3rem !important; }
.pl-5, .px-5 { padding-left:3rem !important; }

.bg-white { background:rgb(var(--white)) !important; }
.bg-black { background:rgb(var(--black)) !important; }
.bg-blue { background:rgb(var(--blue)) !important; }
.bg-red { background:rgb(var(--red)) !important; }
.bg-light-blue { background:rgb(var(--light-blue)) !important; }
.bg-green { background:rgb(var(--green)) !important; }
.bg-gray-100 { background-color:#f8f9fc !important; }
.bg-gray-200 { background-color:#eaecf4 !important; }
.bg-gray-300 { background-color:#dddfeb !important; }
.bg-gray-400 { background-color:#d1d3e2 !important; }
.bg-gray-500 { background-color:#b7b9cc !important; }
.bg-gray-600 { background-color:#858796 !important; }
.bg-gray-700 { background-color:#6e707e !important; }
.bg-gray-800 { background-color:#5a5c69 !important; }
.bg-gray-900 { background-color:#3a3b45 !important; }

.color-white { color:rgb(var(--white)) !important; }
.color-black { color:rgb(var(--black)) !important; }
.color-blue { color:rgb(var(--blue)) !important; }
.color-red { color:rgb(var(--red)) !important; }
.color-light-blue { color:rgb(var(--light-blue)) !important; }
.color-green { color:rgb(var(--green)) !important; }
.text-gray-100 { color:#f8f9fc !important; }
.text-gray-200 { color:#eaecf4 !important; }
.text-gray-300 { color:#dddfeb !important; }
.text-gray-400 { color:#d1d3e2 !important; }
.text-gray-500 { color:#b7b9cc !important; }
.text-gray-600 { color:#858796 !important; }
.text-gray-700 { color:#6e707e !important; }
.text-gray-800 { color:#5a5c69 !important; }
.text-gray-900 { color:#3a3b45 !important; }

.text-large { font-size:115%; }

.box-shadow { box-shadow:var(--shadow); }
.radius { border-radius:var(--radius); }
.space { height:10px; }
.gap { height:var(--gap); }
.icon { width:20px; height:20px; }
.font-weight-bold { font-weight:700; }
.list-group .list-group-item { padding:0.6rem 0; }
.list-group .list-group-item:first-child { padding-top:0; }
.list-group .list-group-item:last-child { padding-bottom:0; }
.list-group-numbered > .list-group-item:before { font-size:0.85rem; font-weight:700; position:relative; top:-2px; }
.badge { padding-left:0.65rem; padding-right:0.65rem; font-size:90%; font-weight:bold; background:rgba(var(--blue),0.15); color:rgba(var(--blue)) }
.offcanvas-backdrop { background-color:rgb(var(--black)); }
.close-btn { font-size:18px; color:rgb(var(--orange)); cursor:pointer; }

.modal-backdrop { background-color:rgb(var(--black)); }
.modal.fade .modal-dialog { transform:none; }
.modal { --bs-modal-border-width:0; }
.modal-body { padding:2rem; }
.modal-content { border-radius:var(--radius); }
#createDashboard .modalTitle span { width:43px; height:43px; text-align:center; line-height:40px; display:inline-block; border-radius:50%; background:rgba(var(--blue),0.1); }
#createDashboard .modalTitle span .icon { width:24px; height:24px; }

.dropdown-menu { font-size:var(--base-font-size); position:absolute; margin-top:0; border-color:rgba(var(--black),0.05); }
.dropdown-menu[data-bs-popper] { left:auto; margin-top:0; border-color:rgba(var(--black),0.05); }
.dropdown-menu.dropdown-menu-right { left:auto; right:0; width:auto; }
.dropdown-toggle:after { margin-left:0.5em; }
.dropdown.no-arrow .dropdown-toggle:after { margin:0; border:0; }
.dropdown-item:focus, .dropdown-item:hover { background:transparent; }
.select-dropdown a { color:rgb(var(--black),0.65); }
.select-dropdown a:hover { color:rgb(var(--blue)); }
.dropdown-divider { margin:0.15rem 0; border-top:1px solid rgba(var(--black),0.1); }

/* Animation */
@-webkit-keyframes growIn {
	0% { transform:scale(0.9); opacity:0; }
  	100% { transform:scale(1); opacity:1; }
}
@keyframes growIn {
	0% { transform:scale(0.9); opacity:0; }
	100% { transform:scale(1); opacity:1;	}
}
.animated-grow-in { -webkit-animation-name:growIn; animation-name:growIn; -webkit-animation-duration:200ms; animation-duration:200ms; -webkit-animation-timing-function:transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1); animation-timing-function:transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1); }

@-webkit-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}
@keyframes fadeIn {
  	0% { opacity:0; }
  	100% { opacity:1; }
}
.animated-fade-in { -webkit-animation-name:fadeIn; animation-name:fadeIn; -webkit-animation-duration:200ms; animation-duration:200ms; -webkit-animation-timing-function:opacity cubic-bezier(0, 1, 0.4, 1); animation-timing-function:opacity cubic-bezier(0, 1, 0.4, 1); }

@keyframes pulse {
	0% { box-shadow:0 0 0 0 rgba(var(--red),.4); }
	70% { box-shadow:0 0 0 10px rgba(var(--red),0); }
	100% { box-shadow:0 0 0 0px rgba(var(--red),0); }
}
.pulse { -webkit-animation:pulse-secondary 2s infinite; animation:pulse 2s infinite; }

/* Tooltip */
.tooltip-inner { font-size:13px; border-radius:var(--radius); }

/* Form elements */
label { font-weight:500; color:rgb(var(--black)); font-size:110%; margin-bottom:0.35rem; }
.form-control { color:rgba(var(--black),0.6); border-radius:0.15rem; padding:0.4rem 0.5rem; font-size:0.75rem; }
.form-control:focus { border-color:rgb(var(--blue),0.35); box-shadow:none; color:rgba(var(--black),0.6); }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus { -webkit-box-shadow:0 0 0px 1000px rgb(var(--white)) inset !important; }
.btn { font-size:var(--base-font-size); border-radius:0.25rem; transition:var(--transition); }
.button-blue { background:rgb(var(--blue)); color:rgb(var(--white)); }
.button-blue:hover, .button-blue:active, .button-blue:focus-visible, .button-blue:checked+.btn, .button-blue.active, .button-blue.show, .button-blue:first-child:active, :not(.button-blue)+.btn:active { background-color:rgb(var(--blue)); color:rgb(var(--white)); box-shadow:none; border-color:transparent; }
.button-light-blue { background:rgb(var(--light-blue)); color:rgb(var(--blue)); }
.button-light-blue:hover, .button-light-blue:active, .button-light-blue:focus-visible, .button-light-blue:checked+.btn, .button-light-blue.active, .button-light-blue.show, .button-light-blue:first-child:active, :not(.button-light-blue)+.btn:active { background-color:rgb(var(--light-blue)); color:rgb(var(--blue)); box-shadow:none; border-color:transparent; }
.btn-shadow:hover { box-shadow:0px 7px 5px -3px rgba(var(--black),0.25); }
button:focus, .btn-close:focus { box-shadow:none; }
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active { border-color:transparent; }

/* Checkbox */
.checkbox-container { display:inline-block; position:relative; padding-left:25px; margin-bottom:12px; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; }
.checkbox-container input { position:absolute; opacity:0; cursor:pointer; height:0; width:0; }
.checkmark { position:absolute; top:1px; left:0; height:18px; width:18px; background-color:rgba(var(--black),0.15); border-radius:var(--radius); }
.checkbox-container:hover input ~ .checkmark { background-color:rgba(var(--black),0.15); }
.checkbox-container input:checked ~ .checkmark { background-color:rgb(var(--blue)); }
.checkmark:after { content:""; position:absolute; display:none; }
.checkbox-container input:checked ~ .checkmark:after { display:block; }
.checkbox-container .checkmark:after { left:7px; top:3px; width:5px; height:10px; border:solid rgb(var(--white)); border-width:0 2px 2px 0; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); }

/* Login & Registration */
.video-wrapper { position:absolute; width:100%; height:100vh; background:rgba(var(--blue),0.5); }
.video-wrapper video { width:100%; height:auto; opacity:0.5; }
.login-form-wrapper { max-width:450px; margin:0 auto; padding:2.5rem; position:relative; top:50%; transform:translateY(-50%); }
.form-wrapper .form-label { margin:0.25rem; font-weight:500; font-size:14px; }
.login-form-wrapper .brand-logo img { width:auto; height:40px; }
.form-field-wrapper { border:1px solid rgba(var(--black),0.25); padding:7px 10px; }
.form-wrapper .form-control { border:0; padding:0; border-radius:0; font-size:14px; }
.form-field-wrapper .icon { font-size:20px; opacity:60%; }
.form-field-wrapper .password-toggle { cursor:pointer; }
.login-form-wrapper .btn { font-size:16px; }

/* Cards */
.card { border:0; box-shadow:none; border-radius:var(--radius); }
.card-body { padding:0.75rem 1rem; }
.card-body.card-sm { padding:0.6rem; }
.card-title { font-size:130%; font-weight:700; margin:0; }
.card hr { margin:0; border-top:1px solid rgba(var(--black),0.3); }

/* Header */
.navbar { padding-top:0; padding-bottom:0; height:46px; margin-bottom:0.75rem; border-bottom:1px solid rgba(var(--black),0.05); /*box-shadow:0 0.75rem 1.5rem rgba(18,38,63,.03);*/ }
.navbar-brand { padding:0; }
.navbar .navbar-brand img { width:auto; height:25px; }
.navbar-brand span { font-size:0.9rem; color:rgba(var(--black),0.65); }
.navbar .icon { width:18px; height:18px; }
.navbar .nav-item:not(:last-child) { margin-right:1.25rem; }
.navbar .nav-link, .navbar-expand-lg .navbar-nav .nav-link { padding:0; }
.navbar .nav-item > .nav-link { line-height:46px; }
.navbar .nav-item:hover > .nav-link .icon { color:rgb(var(--blue)); }
.navbar .dropdown-menu .dropdown-item { font-size:var(--base-font-size); color:rgb(var(--black),0.65); }
.navbar .dropdown-menu a:hover { color:rgb(var(--blue)); }
.navbar .nav-item.nav-alerts > .nav-link { position:relative; }
.navbar .nav-item.nav-alerts > .nav-link span { width:17px; height:17px; line-height:17px; text-align:center; border-radius:50%; background:rgb(var(--red)); color:rgb(var(--white)); font-size:10px; display:inline-block; position:absolute; inset-block-start:0.5rem; inset-inline-end:-0.5rem; }

.left-sidebar { max-width:250px; }
.right-sidebar { max-width:300px; }

/* Settings panel */
.settings-panel { width:27.5rem; }
.settings-panel .offcanvas-body:-webkit-scrollbar { width:10px; }
.settings-panel .offcanvas-body:-webkit-scrollbar-track { background:#f1f1f1; }
.settings-panel .offcanvas-body:-webkit-scrollbar-thumb { background:#888; }
.settings-panel .offcanvas-body:-webkit-scrollbar-thumb:hover { background:#555; }
.settings-panel .nav-tab { border-top:1px solid rgba(var(--black),0.05); border-bottom:1px solid rgba(var(--black),0.05); }
.settings-panel .nav-tab > .nav-item { width:33.3333%; }
.settings-panel .nav-tab > .nav-item:not(:last-child) { border-right:1px solid rgba(var(--black),0.05); }
.settings-panel .nav-tab > .nav-item .nav-link { border-radius:0; padding-left:0; padding-right:0; font-weight:500; color:rgba(var(--black),0.5); }
.settings-panel .nav-tab > .nav-item .nav-link.active { background:rgba(var(--blue),0.15); color:rgb(var(--blue)); }
.settings-panel .list-group .list-group-item .h6 { font-size:0.85rem; }
.settings-panel .item-detail-link > span:not(:last-child) { margin-right:1rem; }
.settings-panel .item-detail-link a { color:rgba(var(--black),0.65); }
.settings-panel .item-detail-link a:hover { color:rgb(var(--blue)); }
.offcanvas-footer { border-top:1px solid rgba(var(--black),0.05); }

.alert-icon-round { width:35px; height:35px; line-height:35px; text-align:center; background:rgba(var(--red),0.05); color:rgb(var(--red)); border-radius:50%; font-size:120%; }